    <footer>
        <p class="copyright">&copy; Jason Nestmann</p>
        <div class="social_media">
            <a title="GitHub" href="https://github.com/jnestmann" target="_blank">
                <svg class="icon icon-github">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <a title="LinkedIn" href="https://www.linkedin.com/in/nestmann-jason-13432a9/" target="_blank">
                <svg class="icon icon-linkedin">
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
            </a>
	    <a title="Treehouse Profile" href="https://teamtreehouse.com/jasonnestmann" target="_blank">
                <svg class="icon icon-treehouse">
                    <use xlink:href="#icon-treehouse"></use>
                </svg>
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>