head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Portfolio project for Jason Nestmann as part of Code Louisville Full-stack JavaScript course.")
    meta(name="author" content="Jason Nestmann")

    title Code Louisville - Full-Stack JavaScript Project | Jason Nestmann
    include _styles.html