extends layout

block content
    div.games_list
        each game in games
            p
            a(href="/files/" + game.id) <strong>#{game.title}</strong></a>: #{game.type || "Undefined"} for #{game.min_player || "_"} to #{game.max_player || "_"} players