extends layout

block content
    div.games_list
        each game in games
            p <a href="/"><strong>#{game.title}</strong></a>: #{game.type} for #{game.min_player} to #{game.max_player} players